<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    

      <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <sessionState mode="InProc" cookieless="false" timeout="380"/>
      </system.web>
      <connectionStrings>
        <add name="BaseDatos" connectionString="Data source=GAMALIEL\INSTANCIAMARIO;Initial Catalog=Minutero ;User ID=sa;Password=mario123"/>
      </connectionStrings>
   

</configuration>
